:root {
    --font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root {
    --primary-color: #047aed;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */
.navbar {

    background: #047aed;
    color: #fff;
    height: 70px;
    width: 100%;

}

/* utilities */

.container {
    max-width: 90%;
    margin: 0 auto;

}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;

}

.showcase::before,
.showcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}




.navbar {

    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.navbar .flex {
    justify-content: space-between;
}


.items {
    display: flex;
}

.navbar a {
    color: #fff;
    margin: 0 5px;
    padding: 10px
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase-text {
    animation: slidefromright 1s ease-in-out;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;

}

.showcase-form p{
    margin: -10%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* shocase form */

form {

    justify-self: center;
}

.showcase-form h1 {
    color: #333;
     
}

.showcase-form {  

    position: relative;
    top: 60px;
    height: 400px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: slidefromleft 1s ease-in-out;
    align-items: center;
    justify-content:center;
    justify-self: center;

}

.showcase-form h1 {
    margin:50px 0 0 0;
    text-align:center;
    font-size:20px
}

.showcase-form .form-control {
    margin: 30px 0;
    overflow: hidden;

}
.showcase-form >*{
    width: auto;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: none;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
}

.showcase-form input:focus {
    outline: none;
}

/* status */
.staus {
    padding-top: 100px;
}

.status-heading {
    max-width: 500px;
    margin: auto;
}

.staus .grid-3 h3 {
    font-size: 35px
}

.staus .grid-3 p {
    font-size: 20px;
    font-weight: bold;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.cli .grid>*:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.cloud {
    background: var(--primary-color)
}

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform .1s ease-in-out;

}

.languages img {
    height: 100px;
    width: 100px;
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card:hover {
    transform: scale(2);
    transition: transform .3s;

}


/* footer */
.footer {
    padding: 50px;
}

.footer .social a {
    margin: 0 10px;

}

.footer .container {

    align-items: center;
    justify-content: center;
    text-align: center;

}


/*! features */

.features-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;

}

.features-main .card>i {
    margin-right: 10px;

}

.features-main .container .card {
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.features-main .container .item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.features-main .container .card i {
    margin-bottom: 10px;
}


/* Animations */

@keyframes slidefromright {
    0% {
        transform: translateX(-100%);
    }

    100% {

        transform: translateX(0);
    }

}

@keyframes slidefromleft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);

    }
}

@keyframes slidefromtop {
    0% {
        transform: translatey(-100%)
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes slidefrombottom {
    0% {
        transform: translatey(100%);

    }

    100% {
        transform: translateY(0);

    }
}

/* !grid span */
.features-main .grid-3 {
    grid-gap: 1rem;
}



.features-main .grid-span :first-child {

    grid-column: 1 / span 3;

}

.features-main .grid-span :nth-child(2) {

    grid-column: 1 / span 2;

}

/* !!essential-main */

.essential-main h3 {
    margin: 20px 0;
}

.essential-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;

}

.essential-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

code, pre {
    background: #333;
    color: #fff;
    padding: 10px;

}

/* Tablets and under */
@media(max-width: 768px) {

    .grid,
    .showcase .grid,
    .cloud .grid,
    .cli .grid,
    .grid-3,
    .essential-main .grid,
    .features-head .grid,
    .features-sub-head .grid {
        grid-template-columns: 1fr;
    }

    .essential-main,
    .features-head,
    .features-sub-head {
        text-align: center;
    }

    .essential-main img,
    .features-head img,
    .features-sub-head img {
        justify-self: center;
    }

    .features-main .grid-span :first-child {

        grid-column: 1;

    }

    .features-main .grid-span :nth-child(2) {

        grid-column: 1;

    }

    .grid {
        grid-column: 1;

    }


    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slidefromtop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        animation: slidefrombottom 1s ease-in;

    }

    .cli .card {
        width: 100%;
    }

    .cli .grid>*:first-child {
        grid-column: 1;
        grid-row: 1;
    }


    .top-bot {
        grid-gap: 30px;
    }

    .footer .container {
        gap: 30px
    }
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        background-color: aquamarine;
        z-index: 1;

    }

    .navbar .logo {
        font-size: 20px;
    }

    .navbar .container {
        position: relative;
        display: flex;
        flex-direction: column;

    }

    .navbar ul {
        display: flex;


    }
}

@media(min-width:300px) {
    .navbar {

        background: #047aed;
        color: #fff;
        height: 70px;
        width: 100%;

    }
}